<div class="form-group">
    <label for="titulo">Título</label>
    <input placeholder="Título del Post">
</div>

<div class="form-group">
    <label for="texto">Texto</label>
    <textarea placeholder="Contenido del Post"></textarea>
</div>

<div class="form-group">
    <label for="autor">Autor</label>
    <input placeholder="Nombre del Autor">
</div>

<div class="form-group">
    <label for="imagen">URL de la Imagen</label>
    <input placeholder="URL de una Imagen">
</div>

<div class="form-group">
    <label for="categoria">Categoría</label>
    <input placeholder="Categoría del Post">
</div>

<button type="submit">Crear Post</button>