form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 98, 255, 0.2);
    font-family: "Doto", sans-serif;
}


form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}


form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #555;
    box-sizing: border-box;
}


form input:focus,
form textarea:focus {
    border-color: rgba(0, 98, 255, 0.2);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


form button {
    width: 100%;
    padding: 12px;
    background-color: white;
    color: black;
    font-family: "Krona One", serif;
    font-size: 0.875rem;
    font-weight: bold;
    border: solid 1px black;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


form button:hover {
    color: white;
    background-color: black;
    transform: scale(1.05);
}

form button:active {
    transform: scale(0.95);
}


.form-group {
    margin-bottom: 20px;
}


form input::placeholder,
form textarea::placeholder {
    color: #aaa;
    font-style: italic;
}